#sobre {
    padding: 50px 0px;
    background-color: #FCFCFE;
    background-size: cover;
    background-position: center;
}

#sobre a {
    color: #ffbf00;
    text-decoration: none;
}

#sobre a:hover {
    text-decoration: underline;
}

#textoSobre {
    color: #363636;
    padding: 0px 10px;
}

#textoSobre h2 {
    margin-bottom: 10px;
    text-align: center;
}

.missao p {
    width: 200px;
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Sobre */
    #sobre {
      background-attachment: fixed;
    }
}